

{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>OLA K ASE</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente alias enim voluptatum repudiandae culpa accusamus aspernatur impedit, vero nemo repellat temporibus ab labore molestias asperiores. Odio, molestiae mollitia? Fugit, nisi.</p>
    </div>
    <div class="col-4">
        <img src="assets/images/avengers.jpg" alt="" class="img-thumbnail">
    </div>
</div>
{{> footer }}